llama3-finetuning/.venv/
llama3-finetuning/*.csv
llama3-finetuning/*.xlsx
llama3-finetuning/*.json
refair-server/models/glove.6B.100d.txt
notebooks/domain_classification/.venv
notebooks/ml_task_detection/.venv
refair-server/__pycache__/
refair-server/env/
refair-server/tests/__pycache__/